@tailwind base;
@tailwind components;
@tailwind utilities;

/* Some default styles */
h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #212a4f;
}

/* Custom tailwind classes to match with the design */
.custom-drop-shadow {
    box-shadow: 0px 4px 20px 0px rgba(214, 223, 229, 1);
}

/* Since we have very little actual CSS, we'll just use global styles instead of modules. */
tr.discount-table-body-row > td {
    vertical-align: top;
    padding: 0.5rem;
}

tr.discount-table-header-row > th {
    padding: 0.25rem 0.5rem;
    text-align: left;
}

@media (min-width: 1168px) {
    tr.discount-table-body-row > td {
        min-width: 200px;
        white-space: nowrap;
    }
}
